@font-face {
  font-family: "euclidCircularARegular";
  src: url("./res/EuclidCircularA-Regular.ttf");
}

@font-face {
  font-family: "euclidCircularAMedium";
  src: url("./res/EuclidCircularA-Medium.ttf");
}

@font-face {
  font-family: "euclidCircularABold";
  src: url("./res/EuclidCircularA-Semibold.ttf");
}

@font-face {
  font-family: "productSansRegular";
  src: url("./res/ProductSans-Regular.ttf");
}

@font-face {
  font-family: "productSansBold";
  src: url("./res/ProductSans-Bold.ttf");
}

:root {
  --font1: "euclidCircularARegular";
  --font2: "euclidCircularAMedium";
  --font3: "euclidCircularABold";
  --sfont: "productSansRegular";
  --sfont2: "productSansBold";
  --purple: #9aa4ff;
  --orange: #ffcb9a;
}

body {
  margin: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav,
footer,
section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.4rem;
  font-family: var(--font3);
  font-size: 1.3rem;
  background: var(--purple);
  color: white;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease, -webkit-box-shadow 200ms linear;
  transition: -webkit-transform 500ms ease, -webkit-box-shadow 200ms linear;
  transition: transform 500ms ease, box-shadow 200ms linear;
  transition: transform 500ms ease, box-shadow 200ms linear, -webkit-transform 500ms ease, -webkit-box-shadow 200ms linear;
}

button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0px 10px 20px #9aa4ffab;
          box-shadow: 0px 10px 20px #9aa4ffab;
}

button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.section-title {
  text-align: center;
  font-family: var(--font2);
  font-size: 3.5rem;
  margin: 5rem 0rem;
  letter-spacing: 1px;
  color: #292929;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
}

nav {
  position: fixed;
  z-index: 999;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > div {
  height: 5rem;
  padding: 0rem 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero > div {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.hero > div img {
  width: 70%;
  max-width: 35rem;
}

.hero > div button {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.8rem 2rem;
  -webkit-box-shadow: 0px 5px 20px 6px #9aa4ffab;
          box-shadow: 0px 5px 20px 6px #9aa4ffab;
  width: 40vmin;
  max-width: 12rem;
}

.products > div {
  min-height: 100vh;
}

.products .list {
  width: 100%;
  gap: 4rem;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (18rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 18rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .list .item {
  background: black;
  width: 18rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.185);
  -webkit-transition: -webkit-transform 500ms ease, -webkit-box-shadow 300ms linear;
  transition: -webkit-transform 500ms ease, -webkit-box-shadow 300ms linear;
  transition: transform 500ms ease, box-shadow 300ms linear;
  transition: transform 500ms ease, box-shadow 300ms linear, -webkit-transform 500ms ease, -webkit-box-shadow 300ms linear;
  padding: 1rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.products .list .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.185);
}

.products .list .item:first-child {
  background: #eaeaff;
  color: var(--purple);
}

.products .list .item:first-child p {
  color: #444444;
}

.products .list .item:first-child::before {
  background: #d7dbff;
}

.products .list .item:nth-child(2) {
  background: var(--purple);
  color: white;
}

.products .list .item:nth-child(2) p {
  color: #f9f9ff;
}

.products .list .item:nth-child(2)::before {
  background: #bfc6ff;
}

.products .list .item:nth-child(3) {
  background: var(--orange);
  color: #373737;
}

.products .list .item:nth-child(3) p {
  color: #373737;
}

.products .list .item:nth-child(3) p {
  color: #444444;
}

.products .list .item:nth-child(3)::before {
  background: #ffe5bf;
}

.products .list .item::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.8rem;
  border-radius: 100px;
  right: 0;
  top: 0;
  margin: 1.5rem;
}

.products .list .item .title {
  font-family: var(--sfont2);
  font-size: 3.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.products .list .item p {
  color: #444444;
  font-family: var(--sfont2);
  letter-spacing: 0.05rem;
  font-size: 1.25rem;
  margin-bottom: 0.4rem;
}

.moreProducts > div .section-title {
  margin-bottom: 3rem;
}

.moreProducts > div .searchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 1rem;
  gap: 1rem;
}

.moreProducts > div .searchContainer label {
  position: relative;
  background: #eaeaff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1rem;
}

.moreProducts > div .searchContainer input {
  position: relative;
  border: none;
  background: #eaeaff;
  font-size: 1.3rem;
  margin: none;
  padding: 1.1rem;
  border-radius: 6px;
  color: #828aca;
  outline: none;
}

.moreProducts > div .searchContainer input::-webkit-input-placeholder {
  color: #828aca;
}

.moreProducts > div .searchContainer input:-ms-input-placeholder {
  color: #828aca;
}

.moreProducts > div .searchContainer input::-ms-input-placeholder {
  color: #828aca;
}

.moreProducts > div .searchContainer input::placeholder {
  color: #828aca;
}

.moreProducts > div .searchContainer i {
  font-size: 1.6rem;
  color: #828aca;
}

.moreProducts > div .searchContainer select {
  width: auto;
  max-width: 20rem;
  height: 3.6rem;
  padding: 0rem 1rem;
  font-size: 1.1rem;
  font-family: var(--font3);
  outline: none;
  border: none;
  background: #eaeaff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: -webkit-filter 280ms ease;
  transition: -webkit-filter 280ms ease;
  transition: filter 280ms ease;
  transition: filter 280ms ease, -webkit-filter 280ms ease;
  text-align: center;
}

.moreProducts > div .searchContainer select:hover {
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
}

.moreProducts > div .productsList {
  width: calc(100% - 4rem);
  background: #eaeaff;
  margin: 2rem;
  border-radius: 8px;
}

.moreProducts > div .productsList .row {
  border-radius: 0px;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #d6daff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 1fr 4rem 8rem 8rem;
      grid-template-columns: 10rem 1fr 4rem 8rem 8rem;
}

.moreProducts > div .productsList .row .col {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-family: var(--font1);
}

.moreProducts > div .productsList .row:first-child, .moreProducts > div .productsList .row:last-child {
  border-bottom: none;
}

.moreProducts > div .productsList .row:hover {
  background: rgba(0, 0, 0, 0.041);
}

.moreProducts > div .productsList .rowHead {
  background: #8190ff;
  border-radius: inherit;
}

.moreProducts > div .productsList .rowHead div {
  color: #eaeaff;
  font-size: 1.2rem;
  font-family: var(--sfont2) !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.moreProducts > div .productsList .rowHead:hover {
  background: #8190ff;
}

footer {
  margin-top: 5rem;
  background: #eaeaff;
}

footer > div {
  width: 100vw;
  height: 22rem;
  padding: 0rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer > div .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

footer > div .right img {
  width: 10rem;
  height: 10rem;
}

footer > div .right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer > div .right .info h1 {
  font-family: var(--sfont2);
  font-size: 3rem;
  color: #435269;
  letter-spacing: 1px;
}

footer > div .right .info > p {
  font-family: var(--sfont2);
  font-size: 1.3rem;
  color: rgba(68, 83, 106, 0.6);
}

footer > div .right .info .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer > div .right .info .contacts .contactItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  color: #4d5c72;
  font-family: var(--sfont2);
  font-size: 1.2rem;
}

footer > div .right .info .contacts .contactItem i {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

footer > div .left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
}

@media only screen and (max-width: 1000px) {
  footer {
    margin-top: 5rem;
    background: #eaeaff;
  }
  footer > div {
    padding: 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
  footer > div .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    gap: 1rem;
  }
  footer > div .right img {
    width: 8rem;
    height: 8rem;
  }
  footer > div .right .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
    gap: 0rem;
  }
  footer > div .right .info h1 {
    font-family: var(--sfont2);
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
  }
  footer > div .right .info > p {
    font-family: var(--sfont2);
    font-size: 1.2rem;
    color: rgba(68, 83, 106, 0.6);
    text-align: center;
    width: 100%;
  }
  footer > div .right .info .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    width: 100%;
  }
  footer > div .right .info .contacts .contactItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.5rem;
    color: #4d5c72;
    font-family: var(--sfont2);
    font-size: 1rem;
  }
  footer > div .right .info .contacts .contactItem i {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  footer > div .left {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: inherit;
  }
}
/*# sourceMappingURL=style.css.map */